{% extends "base.html" %}

{% block title %} Lista de libros {% endblock %}

{% block content %} 

<div class="card">
    <div class="card-header">
        Books list
    </div>
    <div class="card-body">
        <h4 class="card-title">Books</h4>
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Image</th>
                        <th scope="col">Description</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">R1C1</td>
                        <td>R1C2</td>
                        <td>R1C3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>

{% endblock %}